# Docker Compose infrastructure

# Redis
REDIS_IMAGE=redis:8.8-alpine
REDIS_PORT=6379
REDIS_PASSWORD=password

# RabbitMQ
RABBITMQ_IMAGE=rabbitmq:4-management
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VHOST=/
